<html>
<div class="container">
    <h4>Exportar distancia recorrida</h4>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="searchResourceForm" class="row g-3" (ngSubmit)="searchResource()">
                        <div class="col-9">
                            <label for="recurso">Recurso:</label>
                            <input type="text" class="form-control" formControlName="recursoSearch" id="recurso" name="recurso" placeholder="Ingrese Recurso">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mt-4">Buscar</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger mt-4" (click)="onResetForm()">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="searchExportForm" class="row g-3" (ngSubmit)="export()">
                        <div class="col-6">
                            <label for="desde">Desde:</label>
                            <input class="form-control" type="date" id="desde" formControlName="desde" name="desde">
                        </div>
                        <div class="col-6">
                            <label for="hasta">Hasta:</label>
                            <input class="form-control" type="date" id="hasta" formControlName="hasta" name="hasta">
                        </div>
                        <div class="col-12">
                            <div class="list-group mt-2">
                                <div *ngFor="let resources of bloquesData">
                                    <label class="list-group-item">
                                        <input class="form-radio-input" formControlName="recursoId" type="radio" value="{{ resources.resourceId }}">
                                        {{ resources.name }} - {{ resources.resourceId }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-2 ml-auto" [disabled]="!searchExportForm.valid">Exportar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</html>